@tailwind base;
@tailwind components;
@tailwind utilities;


.logo{
    border-radius: 50%;
}

body{
    background-color: #f5f5f5;
    /* font-family: cinzel; */
    /* font-family: font-cinzel; */
}

.custom-toast {
    background-color: #0173bc;
    color: white;
    border-radius: 8px;
    padding: 16px;
  }

  .Toastify__close-button {
    color: white;
  }
  
 
/* footer */

@media (max-width: 768px) {
    .footer-div-1{
        flex-direction: column;
    }
}